#ans1,
#ans2,
#ans3,
#ans4{
    margin-bottom: 15px;
    margin-right: 10px;
}

body{
    background-image: url(http://www.tokkoro.com/picsup/2860573-frasier-kelsey-grammer-david-hyde-pierce-frasier-crane-niles-crane-tv___movie-wallpapers.jpg);
    background-position-y: -110px;
    color: rgb(230, 209, 92);
    font-family: 'Playfair Display', serif;

}

